@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&subset=latin-ext');
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
}
.container-fluid {
    padding:0px;
}
.menu {
    background: #c9023a;
    color:#fff;
    height:55px;
    line-height: 55px;
}
.menu a {
    color:#FFF;
    text-decoration: none;
}
.menu-item {
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
    text-align: center;
    border-left: 2px solid #b90335;
    cursor:pointer;
}

.menu-item:not(.logo-wrapper):hover {
    background:#b90335;
    cursor: pointer;
}
.kfc-logo {
    vertical-align: middle;
    max-height: 55px;
    max-width: 160px;
}
main {
    margin-top:40px;
}
.table td, .table th {
    vertical-align: middle!important;
}
.custom-alert {
    position: fixed;
    top: 110px;
    right: -500px;
    transition:1s ease;
}
.custom-alert.active {
    right:20px;
}
.products-table img {
    max-width: 110px;
}
.products .item {
    text-align:center;
    margin-bottom:30px;
    cursor:pointer;
    overflow: hidden;
    position:relative;
}
.products img {
    width:100%;
}
.product-details .image img {
    width:100%;
}
.products-table {
    text-align:center;
}