body {
    background-color: rgb(156, 155, 153);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51, 0.2);
    border-radius: 5px;
    border-bottom: solid 5px rgb(51, 51, 51, 0.7);
}

li {
    float: left;
}

li a {
    display: block;
    
    font-size: 30px;
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(196, 193, 193);
    color: rgb(51, 51, 51, 0.7);
    text-decoration: none;
}

.active {
    background-color: rgb(196, 193, 193);
}

#store {
   
    border-right: solid 5px rgb(51, 51, 51, 0.5);
    color: rgb(51, 51, 51, 0.7);
    text-decoration: none;
}

#store:hover {
    
    color:  rgb(51, 51, 51, 0.7);
    
   
}

#adminButton {
    border-left: solid 5px rgb(51, 51, 51, 0.7);
}

#newsButton {
    
    border-right: solid 5px rgb(51, 51, 51, 0.7);
}

.aFontSize {
    font-size: 30px;
    margin: auto;
}

#myCarousel{
    width: 40%;
    
    float: right;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 5px;
}

.carousel-indicators {
    color: black;
}

#categoriesDiv {
    float: left;
    text-align: center;
    border-style:none;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 198px;
    background-color: rgb(248, 248, 248, 0.3);
}

#categoriesDiv:hover {
    background-color: rgba(46, 45, 45, 0.2);
    transition-duration: 0.2s;
    color: aliceblue;
}

#categories {
    float: right;
    width: 70%;
}
.categoryImage {
    max-height: 100px;
    padding: 10px;
}

#seeMore{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(46, 45, 45, 0);
    border-style: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
     

}

#seeMore:hover {
    background-color: rgb(68, 67, 65, 0.7);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.categoryName {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 25px;
}